# See: https://docs.github.com/en/actions/writing-workflows
---
name: Build & Release ASIMOV Rust package

on:
  workflow_call:
    inputs:
      version:
        required: false
        type: string
        default: ${{ github.ref_name }}
      create_release:
        required: false
        type: boolean
        default: true
      update_homebrew_tap:
        required: false
        type: boolean
        default: false
      update_scoop_bucket:
        required: false
        type: boolean
        default: false
      update_crates_io:
        required: false
        type: boolean
        default: false
      brew_build_depends_on:
        required: false
        type: string
      brew_install_step:
        required: false
        type: string
      rust_toolchain:
        required: false
        type: string
        default: "1.85.0"
      link_old_glibc:
        required: false
        type: boolean
        default: true
      linux_x86_dependencies:
        required: false
        description: |
          Linux x86 dependencies step. Will be executed before the build.
          Takes precedence over `linux_dependencies`.
        type: string
      linux_arm_dependencies:
        required: false
        description: |
          Linux ARM dependencies step. Will be executed before the build.
          Takes precedence over `linux_dependencies`.
        type: string
      linux_dependencies:
        required: false
        description: |
          Linux dependencies step. Will be executed before the build.
        type: string
      macos_x86_dependencies:
        required: false
        description: |
          macOS x86 dependencies step. Will be executed before the build.
          Takes precedence over `macos_dependencies`.
        type: string
      macos_arm_dependencies:
        required: false
        description: |
          macOS ARM dependencies step. Will be executed before the build.
          Takes precedence over `macos_dependencies`.
        type: string
      macos_dependencies:
        required: false
        description: |
          macOS dependencies step. Will be executed before the build.
        type: string
      windows_dependencies:
        required: false
        description: |
          Windows dependencies step. Will be executed before the build.
        type: string
      android_arm_dependencies:
        required: false
        description: |
          Android ARM dependencies step. Will be executed before the build.
        type: string
      brew_linux_x86_dependencies:
        required: false
        description: |
          Linux x86 dependencies step exclusive for Homebrew. Will be executed before the build.
        type: string
      brew_macos_x86_dependencies:
        required: false
        description: |
          macOS x86 dependencies step exclusive for Homebrew. Will be executed before the build.
        type: string
      brew_macos_arm_dependencies:
        required: false
        description: |
          macOS ARM dependencies step exclusive for Homebrew. Will be executed before the build.
        type: string
      env:
        required: false
        description: |
          Environment variables to set before the build.
          Format: key=value
        type: string
      build-linux-x86-gnu:
        required: false
        description: Build Linux x86 GNU binary?
        type: boolean
        default: true
      build-linux-x86-musl:
        required: false
        description: Build Linux x86 MUSL binary?
        type: boolean
        default: true
      build-linux-arm-gnu:
        required: false
        description: Build Linux ARM GNU binary?
        type: boolean
        default: true
      build-linux-arm-musl:
        required: false
        description: Build Linux ARM MUSL binary?
        type: boolean
        default: true
      build-macos-x86:
        required: false
        description: Build macOS x86 binary?
        type: boolean
        default: true
      build-macos-arm:
        required: false
        description: Build macOS ARM binary?
        type: boolean
        default: true
      build-windows:
        required: false
        description: Build Windows binary?
        type: boolean
        default: true
      build-windows-native:
        required: false
        description: Build Windows binary natively (meaning on Windows, without cross-compiling)?
        type: boolean
        default: false
      build-android-arm:
        required: false
        description: Build Android ARM binary?
        type: boolean
        default: false
      files-to-copy:
        description: "Files to package along with the binary. New line separated. Defaults to empty string."
        required: false
        type: string
        default: ""
      pre-compress-pass:
        description: "Code that will be executed before compressing the artifact. Defaults to empty string."
        required: false
        type: string
        default: ""
    outputs:
      release_url:
        description: Release URL
        value: ${{ jobs.release.outputs.url }}
    secrets:
      ASIMOV_APP_ID:
        required: true
      ASIMOV_APP_PRIVATE_KEY:
        required: true
      CRATES_TOKEN:
        required: false
      ENV:
        required: false

jobs:
  prepare-homebrew:
    name: Prepare Homebrew
    if: ${{ inputs.update_homebrew_tap }}
    uses: asimov-platform/actions/.github/workflows/prepare-homebrew-formula.yaml@master
    secrets:
      ASIMOV_APP_ID: ${{ secrets.ASIMOV_APP_ID }}
      ASIMOV_APP_PRIVATE_KEY: ${{ secrets.ASIMOV_APP_PRIVATE_KEY }}
    with:
      build_depends_on: ${{ inputs.brew_build_depends_on }}
      install_step: ${{ inputs.brew_install_step }}

  build:
    needs: prepare-homebrew
    if: ${{ always() }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - enabled: ${{ inputs.build-linux-x86-gnu }}
            os: ubuntu-latest
            artifact: linux-x86-gnu
            target: x86_64-unknown-linux-gnu
            build-homebrew-bottle: ${{ inputs.update_homebrew_tap }}
            use-zigbuild: ${{ inputs.link_old_glibc }}
            glibc-version: ${{ inputs.link_old_glibc && '2.28' || '' }}
            custom-step: ${{ inputs.linux_x86_dependencies != '' && inputs.linux_x86_dependencies || inputs.linux_dependencies }}
            custom-brew-step: ${{ inputs.brew_linux_x86_dependencies }}
          - enabled: ${{ inputs.build-linux-arm-gnu }}
            os: ubuntu-latest
            artifact: linux-arm-gnu
            target: aarch64-unknown-linux-gnu
            use-zigbuild: ${{ inputs.link_old_glibc }}
            glibc-version: ${{ inputs.link_old_glibc && '2.28' || '' }}
            custom-step: ${{ inputs.linux_arm_dependencies != '' && inputs.linux_arm_dependencies || inputs.linux_dependencies }}
          - enabled: ${{ inputs.build-linux-x86-musl }}
            os: ubuntu-latest
            artifact: linux-x86-musl
            target: x86_64-unknown-linux-musl
            use-zigbuild: true
            custom-step: ${{ inputs.linux_x86_dependencies != '' && inputs.linux_x86_dependencies || inputs.linux_dependencies }}
          - enabled: ${{ inputs.build-linux-arm-musl }}
            os: ubuntu-latest
            artifact: linux-arm-musl
            target: aarch64-unknown-linux-musl
            use-zigbuild: true
            custom-step: ${{ inputs.linux_arm_dependencies != '' && inputs.linux_arm_dependencies || inputs.linux_dependencies }}
          - enabled: ${{ inputs.build-macos-x86 }}
            os: macos-15-intel
            artifact: macos-x86
            target: x86_64-apple-darwin
            build-homebrew-bottle: ${{ inputs.update_homebrew_tap }}
            custom-step: ${{ inputs.macos_x86_dependencies != '' && inputs.macos_x86_dependencies || inputs.macos_dependencies }}
            custom-brew-step: ${{ inputs.brew_macos_x86_dependencies }}
          - enabled: ${{ inputs.build-macos-arm }}
            os: macos-15
            artifact: macos-arm
            target: aarch64-apple-darwin
            build-homebrew-bottle: ${{ inputs.update_homebrew_tap }}
            custom-step: ${{ inputs.macos_arm_dependencies != '' && inputs.macos_arm_dependencies || inputs.macos_dependencies }}
            custom-brew-step: ${{ inputs.brew_macos_arm_dependencies }}
          - enabled: ${{ inputs.build-windows }}
            os: ${{ inputs.build-windows-native && 'windows-2025' || 'ubuntu-latest' }}
            artifact: windows-x64
            target: ${{ inputs.build-windows-native && 'x86_64-pc-windows-msvc' || 'x86_64-pc-windows-gnu' }}
            extension: exe
            custom-step: ${{ inputs.windows_dependencies }}
          - enabled: ${{ inputs.build-android-arm }}
            os: ubuntu-latest
            artifact: android-arm
            target: aarch64-linux-android
            use-ndk: true
            custom-step: ${{ inputs.android_arm_dependencies  }}
    name: Build module
    uses: asimov-platform/actions/.github/workflows/build-rust-package.yaml@master
    secrets:
      ASIMOV_APP_ID: ${{ secrets.ASIMOV_APP_ID }}
      ASIMOV_APP_PRIVATE_KEY: ${{ secrets.ASIMOV_APP_PRIVATE_KEY }}
      ENV: ${{ secrets.ENV }}
    with:
      enabled: ${{ matrix.enabled }}
      os: ${{ matrix.os }}
      artifact: ${{ matrix.artifact }}
      target: ${{ matrix.target }}
      custom_step: ${{ matrix.custom-step }}
      custom_brew_step: ${{ matrix.custom-brew-step }}
      build_homebrew_bottle: ${{ matrix.build-homebrew-bottle || false }}
      bump_homebrew_formula: ${{ inputs.update_homebrew_tap && needs.prepare-homebrew.outputs.bump_formula == 'true' || false }}
      use_zigbuild: ${{ matrix.use-zigbuild || false }}
      use_ndk: ${{ matrix.use-ndk || false }}
      glibc_version: ${{ matrix.glibc-version }}
      extension: ${{ matrix.extension }}
      rust_toolchain: ${{ inputs.rust_toolchain }}
      files-to-copy: ${{ inputs.files-to-copy }}
      pre-compress-pass: ${{ inputs.pre-compress-pass }}
      env: ${{ inputs.env }}

  release:
    name: Release
    if: ${{ !failure() && !cancelled() && inputs.create_release && startsWith(github.ref, 'refs/tags/') }}
    needs: build
    uses: asimov-platform/actions/.github/workflows/release-rust-package.yaml@master
    secrets:
      ASIMOV_APP_ID: ${{ secrets.ASIMOV_APP_ID }}
      ASIMOV_APP_PRIVATE_KEY: ${{ secrets.ASIMOV_APP_PRIVATE_KEY }}

  update-scoop-bucket:
    name: Update Scoop bucket
    if: ${{ inputs.update_scoop_bucket && startsWith(github.ref, 'refs/tags/') }}
    needs: release
    uses: asimov-platform/actions/.github/workflows/update-scoop-bucket.yaml@master
    secrets:
      ASIMOV_APP_ID: ${{ secrets.ASIMOV_APP_ID }}
      ASIMOV_APP_PRIVATE_KEY: ${{ secrets.ASIMOV_APP_PRIVATE_KEY }}
    with:
      assets: ${{ needs.release.outputs.assets }}

  update-homebrew-tap:
    name: Update Homebrew tap
    needs: [prepare-homebrew, release]
    if: ${{ inputs.update_homebrew_tap && startsWith(github.ref, 'refs/tags/') }}
    uses: asimov-platform/actions/.github/workflows/update-homebrew-tap.yaml@master
    secrets:
      ASIMOV_APP_ID: ${{ secrets.ASIMOV_APP_ID }}
      ASIMOV_APP_PRIVATE_KEY: ${{ secrets.ASIMOV_APP_PRIVATE_KEY }}
    permissions:
      contents: read
      packages: write
    with:
      bump_formula: ${{ needs.prepare-homebrew.outputs.bump_formula == 'true' }}

  update-crates-io:
    name: Update crates.io
    if: ${{ inputs.update_crates_io }}
    needs: release
    secrets:
      CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
    uses: asimov-platform/actions/.github/workflows/update-crates-io.yaml@master
